# CMake out-of-source
build*/
*-build-*/

# vscode in-source configs
.vscode/

# clion etc in-source configs
.idea/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Packages
*.deb
*.pkg.tar.xz
*.pkg.tar.xz.sig
*.rpm

# Singulrity
*.sif

# clangd cache
.cache
