#!/usr/bin/make -f
export DH_VERBOSE = 1
export DH_OPTIONS=-v
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_OPTIONS = nocheck, nostrip

%:
	        dh $@

override_dh_auto_configure:
	dh_auto_configure  -- \
	          -Scmake \
	          -DCMAKE_CXX_COMPILER=/usr/bin/clang++-17 \
	          -DCLANG_EXECUTABLE_PATH=/usr/bin/clang++-17 \
	          -DDEFAULT_TARGETS="omp" \
	          -DWITH_ACCELERATED_CPU=ON \
	          -DWITH_CUDA_BACKEND=OFF \
	          -DWITH_ROCM_BACKEND=OFF \
	          -DWITH_LEVEL_ZERO_BACKEND=OFF \
	          -DWITH_OPENCL_BACKEND=OFF \
	          -DWITH_SSCP_COMPILER=OFF \
	          -DLLVM_DIR=/usr/lib/llvm-17/cmake/ \
	          -DCUDA_CUDA_LIBRARY=/opt/AdaptiveCpp/cuda/lib64/stubs/libcuda.so \
	          -DCUDA_TOOLKIT_ROOT_DIR=/opt/AdaptiveCpp/cuda \
	          -DROCM_PATH=/opt/rocm
override_dh_auto_install:
	dh_auto_install -- prefix=`pwd`/install
override_dh_auto_dwz:
#	dh_auto_dwz -- --no-dwz-multifile
