#!/usr/bin/make -f
export DH_VERBOSE = 1
export DH_OPTIONS=-v
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	        dh $@

override_dh_auto_configure:
	dh_auto_configure  -- \
	          -Scmake \
	          -DCMAKE_C_COMPILER=/usr/bin/clang-17 \
	          -DCMAKE_CXX_COMPILER=/usr/bin/clang++-17 \
	          -DCLANG_EXECUTABLE_PATH=/usr/bin/clang++-17 \
	          -DCMAKE_CXX_FLAGS="-g -fsanitize=address" \
	          -DDEFAULT_TARGETS="omp" \
		  -DWITH_ACCELERATED_CPU=ON \
	          -DCMAKE_BUILD_TYPE=Debug \
	          -DLLVM_DIR=/usr/lib/llvm-17/cmake/
