name: macOS build

on: [push, pull_request]

jobs:
  build_appleclang:
    name: AppleClang [macOS]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    - name: install dependencies
      run: |
        set +e
        brew update
        brew install cmake
        brew install libomp
        brew install llvm
        brew install boost
        set -e
        
        export CXX=`brew list llvm | grep clang++`
        echo "CXX=${CXX}" >> $GITHUB_ENV
        export LLVM_ROOT=`echo $CXX | sed -E "s/bin\/.*//"`
        echo "LLVM_DIR=${LLVM_ROOT}/lib/cmake/llvm" >> $GITHUB_ENV
        echo "LDFLAGS=-L${LLVM_ROOT}/lib/c++ -Wl,-rpath,${LLVM_ROOT}/lib/c++" >> $GITHUB_ENV
        
    - name: build
      run: |
        mkdir build && cd build
        cmake .. \
        -DWITH_OPENCL_BACKEND=OFF \
        -DCMAKE_INSTALL_PREFIX=${GITHUB_WORKSPACE}/build/install \
        -DLLVM_DIR=$LLVM_DIR
        make -j 2 install VERBOSE=ON
    - name: build library only CPU tests
      run: |
        mkdir build/tests-cpu && cd build/tests-cpu
        cmake \
        -DACPP_TARGETS=omp.library-only \
        -DAdaptiveCpp_DIR=${GITHUB_WORKSPACE}/build/install/lib/cmake/AdaptiveCpp \
        ${GITHUB_WORKSPACE}/tests
        make -j 2 VERBOSE=ON
    - name: build accelerated CPU tests
      run: |
        mkdir build/tests-acc-cpu && cd build/tests-acc-cpu
        cmake \
        -DACPP_TARGETS=omp.accelerated \
        -DAdaptiveCpp_DIR=${GITHUB_WORKSPACE}/build/install/lib/cmake/AdaptiveCpp \
        ${GITHUB_WORKSPACE}/tests
        make -j 2 VERBOSE=ON
    - name: build SSCP (CPU) tests
      run: |
        mkdir build/tests-sscp && cd build/tests-sscp
        cmake \
        -DACPP_TARGETS=generic \
        -DAdaptiveCpp_DIR=${GITHUB_WORKSPACE}/build/install/lib/cmake/AdaptiveCpp \
        ${GITHUB_WORKSPACE}/tests
        make -j 2 VERBOSE=ON
    - name: run CPU tests
      run: |
        cd ${GITHUB_WORKSPACE}/build/tests-cpu
        LD_LIBRARY_PATH=${GITHUB_WORKSPACE}/build/install/lib ./sycl_tests
    - name: run accelerated CPU tests
      run: |
        cd ${GITHUB_WORKSPACE}/build/tests-acc-cpu
        LD_LIBRARY_PATH=${GITHUB_WORKSPACE}/build/install/lib ./sycl_tests
        LD_LIBRARY_PATH=${GITHUB_WORKSPACE}/build/install/lib ninja check-cbs
    - name: run SSCP tests
      run: |
        cd ${GITHUB_WORKSPACE}/build/tests-acc-cpu
        LD_LIBRARY_PATH=${GITHUB_WORKSPACE}/build/install/lib ./sycl_tests
        LD_LIBRARY_PATH=${GITHUB_WORKSPACE}/build/install/lib ninja check-sscp

