name: macOS build

on: [push, pull_request]

jobs:
  build_appleclang:
    name: AppleClang [macOS]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'recursive'
    - name: install dependencies
      run: |
        set +e
        brew update
        brew install cmake
        brew install libomp
        brew install boost
        set -e
    - name: build
      run: |
        OMP_ROOT=`brew list libomp | grep libomp.a | sed -E "s/\/lib\/.*//"`
        mkdir build && cd build
        cmake .. \
        -DOpenMP_ROOT=$OMP_ROOT \
        -DCMAKE_INSTALL_PREFIX=/Users/runner/work/OpenSYCL/OpenSYCL/build/install
        make -j 2 install VERBOSE=ON
    - name: build CPU tests
      run: |
        OMP_ROOT=`brew list libomp | grep libomp.a | sed -E "s/\/lib\/.*//"`
        mkdir build/tests-cpu && cd build/tests-cpu
        cmake \
        -DOPENSYCL_TARGETS=omp.library-only \
        -DCMAKE_CXX_FLAGS=-I$OMP_ROOT/include \
        -DOpenSYCL_DIR=/Users/runner/work/OpenSYCL/OpenSYCL/build/install/lib/cmake/OpenSYCL \
        /Users/runner/work/OpenSYCL/OpenSYCL/tests
        make -j 2 VERBOSE=ON
    - name: run CPU tests
      run: |
        cd /Users/runner/work/OpenSYCL/OpenSYCL/build/tests-cpu
        LD_LIBRARY_PATH=/Users/runner/work/OpenSYCL/OpenSYCL/build/install/lib ./sycl_tests
