name: Package AdaptiveCpp for Debian
on: [push, pull_request]

jobs:
  packaging-acpp-all-backends:
    name: Packaging AdaptiveCpp, clang ${{matrix.clang}}, ${{matrix.os}}, CUDA ${{matrix.cuda}}, ROCm ${{matrix.rocm}}
    runs-on: ${{matrix.os}}
    container:
      image: ubuntu:jammy-20240212
    strategy:
      matrix:
        clang: ['16']
        os: [ubuntu-22.04]
        cuda: [11.8]
        rocm: [5.6.1]
    steps:
      - name: install git and other dependencies in container
        run: |
          apt update
          apt install -y git lsb-release software-properties-common wget curl gpg unzip g++-11 apt-utils bash
          chsh -s /usr/bin/bash
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          fetch-tags: true
      - name: Get Credentials
        run: |
          git config --global --add safe.directory /__w/AdaptiveCpp/AdaptiveCpp
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: install LLVM
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          ./llvm.sh ${{matrix.clang}}
          apt install -y libclang-${{matrix.clang}}-dev clang-tools-${{matrix.clang}} libomp-${{matrix.clang}}-dev llvm-${{matrix.clang}}-dev liblld-${{matrix.clang}}-dev
          apt install -y libstdc++-12-dev
      - name: install dependencies
        run: |
           apt install -y cmake python3 libboost-all-dev libtbb-dev
      - name: setup build environment
        run: |
          export PKGNAME=$(git describe --tags | sed 's,^v,,;s,-,+,;s,-,~,;')
          git config user.name "${{ github.actor }}"
          export DEBFULLNAME=$(git config user.name)
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          export DEBEMAIL=$(git config user.email)
          echo "PKGNAME=${PKGNAME}" >> $GITHUB_ENV
          echo "DEBFULLNAME=${DEBFULLNAME}" >> $GITHUB_ENV
          echo "DEBEMAIL=${DEBEMAIL}" >> $GITHUB_ENV
          export CUDAMAJOR=$(echo ${{matrix.cuda}} | sed 's/\..*//')
          export CUDAMINOR=$(echo ${{matrix.cuda}} | sed 's/.*\.//')
          echo "CUDAMAJOR=${CUDAMAJOR}" >> $GITHUB_ENV
          echo "CUDAMINOR=${CUDAMINOR}" >> $GITHUB_ENV
          echo $GITHUB_ENV
          export CXXFLAGS="$CXXFLAGS"
          if [ "${{matrix.clang}}" != "11" ] && [ "${{matrix.clang}}" -lt "16" ]; then
            export OMP_CXX_FLAGS="$CXXFLAGS -fexperimental-new-pass-manager"
            export CC=clang-${{matrix.clang}}
            export CXX=clang++-${{matrix.clang}}
          fi
          echo "CC=${CC}" >> $GITHUB_ENV
          echo "CXX=${CXX}" >> $GITHUB_ENV
          echo "OMP_CXX_FLAGS=${OMP_CXX_FLAGS}" >> $GITHUB_ENV
      - name: install CUDA Toolkit and driver
        run : |
          wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64/cuda-keyring_1.1-1_all.deb
          dpkg -i cuda-keyring_1.1-1_all.deb
          apt update
          apt install -y cuda-toolkit-${{ env.CUDAMAJOR }}-${{ env.CUDAMINOR }}
          DEBIAN_FRONTEND=noninteractive apt install -y cuda-drivers-550
          echo "$(dpkg -S libcuda)"
      - name: install ROCm
        run: |
          export CODENAME="jammy"
          apt install -y libnuma-dev cmake unzip
          wget -q -O - https://repo.radeon.com/rocm/rocm.gpg.key | apt-key add -
          echo "deb [arch=amd64] https://repo.radeon.com/rocm/apt/${{matrix.rocm}} $CODENAME main" | tee /etc/apt/sources.list.d/rocm.list
          printf 'Package: *\nPin: release o=repo.radeon.com\nPin-Priority: 600' | tee /etc/apt/preferences.d/rocm-pin-600
          apt update
          apt install -y rocm-dev
      - name: install OpenCL development files and loader
        run: |
          wget -O- https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB | gpg --dearmor | tee /usr/share/keyrings/oneapi-archive-keyring.gpg > /dev/null
          echo "deb [signed-by=/usr/share/keyrings/oneapi-archive-keyring.gpg] https://apt.repos.intel.com/oneapi all main" | tee /etc/apt/sources.list.d/oneAPI.list
          apt update
          apt install -y intel-oneapi-runtime-opencl-2024 intel-oneapi-runtime-compilers-2024 ocl-icd-libopencl1 ocl-icd-opencl-dev
      - name: install Level Zero
        run : |
          wget https://github.com/oneapi-src/level-zero/releases/download/v1.2.3/level-zero-devel_1.2.3+u18.04_amd64.deb
          wget https://github.com/oneapi-src/level-zero/releases/download/v1.2.3/level-zero_1.2.3+u18.04_amd64.deb
          dpkg -i ./level-zero*
      - name: install packaging helpers
        run: |
          apt install -y build-essential devscripts debhelper
      - name: package AdaptiveCpp
        run: |
          cd ..
          cp -R AdaptiveCpp acpp-${{ env.PKGNAME }}
          tar -cf acpp_${{ env.PKGNAME }}.orig.tar.gz acpp-${{ env.PKGNAME }}/
          cd acpp-${{ env.PKGNAME }}/
          mkdir -p debian/source && echo "3.0 (native)" > debian/source/format
          dch --create -v ${{ env.PKGNAME }}-1 "CI's Nightly Release." --package acpp
          cp LICENSE debian/copyright
          sed -i "s/-DWITH_CUDA_BACKEND=.*/-DWITH_CUDA_BACKEND=ON \\\/" debian/rules
          sed -i "s/-DWITH_ROCM_BACKEND=.*/-DWITH_ROCM_BACKEND=ON \\\/" debian/rules
          sed -i "s/-DWITH_LEVEL_ZERO_BACKEND=.*/-DWITH_LEVEL_ZERO_BACKEND=ON \\\/" debian/rules
          sed -i "s/-DWITH_OPENCL_BACKEND=.*/-DWITH_OPENCL_BACKEND=ON \\\/" debian/rules
          echo $(cat  /var/lib/dpkg/info/libllvm${{matrix.clang}}\:amd64.shlibs) > debian/shlibs.local
          echo "libhiprtc 5 hip-runtime-amd" >> debian/shlibs.local
          echo $(cat /var/lib/dpkg/info/ocl-icd-libopencl1\:amd64.shlibs) >> debian/shlibs.local
          echo "libcudart ${{ env.CUDAMAJOR }}.0 cuda-cudart-${{ env.CUDAMAJOR }}-${{ env.CUDAMINOR }}" >> debian/shlibs.local
          echo "libze_loader 1 level-zero" >> debian/shlibs.local
          echo "libamdhip64 5 hip-runtime-amd" >> debian/shlibs.local
          echo $(sed -n 1p /var/lib/dpkg/info/libnvidia-compute-*\:amd64.shlibs) >> debian/shlibs.local
          FILES="acpp acpp-info acpp-hcf-tool"
          for name in $FILES; do echo "/opt/AdaptiveCpp/bin/$name /usr/bin/$name" >> debian/links
          done
          debuild -us -uc
      - name: Install the package
        run: |
          cd ${GITHUB_WORKSPACE}/../
          dpkg -i acpp_${{ env.PKGNAME }}-1_amd64.deb
      - name: Release Packages
        uses: actions/upload-artifact@v4
        with:
          name: all-backends-${{ env.PKGNAME }}
          path: /home/runner/work/AdaptiveCpp/acpp_${{ env.PKGNAME }}-1_amd64.deb
      - name: build generic SSCP tests
        if: matrix.clang >= 14
        run: |
          mkdir ${GITHUB_WORKSPACE}/build-tests-sscp
          cd ${GITHUB_WORKSPACE}/build-tests-sscp
          cmake -DACPP_TARGETS="generic" -DAdaptiveCpp_DIR=${GITHUB_WORKSPACE}/build/install/lib/cmake/AdaptiveCpp -DWITH_PSTL_TESTS=ON ${GITHUB_WORKSPACE}/tests
          make -j2
      - name: build CPU tests
        run: |
          mkdir ${GITHUB_WORKSPACE}/build-tests-cpu
          cd ${GITHUB_WORKSPACE}/build-tests-cpu
          cmake -DACPP_TARGETS="omp" -DAdaptiveCpp_DIR=${GITHUB_WORKSPACE}/build/install/lib/cmake/AdaptiveCpp ${GITHUB_WORKSPACE}/tests
          make -j2
      - name: run CPU tests
        run: |
          cd ${GITHUB_WORKSPACE}/build-tests-cpu
          LD_LIBRARY_PATH=/usr/lib ./sycl_tests
      - name: build CUDA tests
        run: |
          mkdir ${GITHUB_WORKSPACE}/build-tests-cuda
          cd ${GITHUB_WORKSPACE}/build-tests-cuda
          cmake -DACPP_TARGETS="cuda:sm_60" -DAdaptiveCpp_DIR=${GITHUB_WORKSPACE}/build/install/lib/cmake/AdaptiveCpp ${GITHUB_WORKSPACE}/tests -DCMAKE_EXE_LINKER_FLAGS="-L/usr/lib/llvm-${{matrix.clang}}/lib"
          make -j2
      - name: build ROCm tests
        run: |
          mkdir ${GITHUB_WORKSPACE}/build-tests-rocm
          cd ${GITHUB_WORKSPACE}/build-tests-rocm
          cmake -DACPP_TARGETS="hip:gfx906" -DAdaptiveCpp_DIR=${GITHUB_WORKSPACE}/build/install/lib/cmake/AdaptiveCpp ${GITHUB_WORKSPACE}/tests -DCMAKE_EXE_LINKER_FLAGS="-L/usr/lib/llvm-${{matrix.clang}}/lib"
          make -j2
      - name: build explicit multipass tests
        run: |
          mkdir ${GITHUB_WORKSPACE}/build-tests-emp
          cd ${GITHUB_WORKSPACE}/build-tests-emp
          cmake -DACPP_TARGETS="omp;cuda.explicit-multipass:sm_60;hip:gfx906" -DAdaptiveCpp_DIR=${GITHUB_WORKSPACE}/build/install/lib/cmake/AdaptiveCpp ${GITHUB_WORKSPACE}/tests
          make -j2